- @messages.each do |message|
  %p.p5<
    = message.user.name
  %h2.h1
    = message.created_at.strftime('%Y年%m月%d日 %H:%M')
  %p.p6
    = message.body
  %p.p6
    - if message.image.present?
      = image_tag message.image
