.main__contents__second
  %p.p5<
    ryosuke
  %h2.h1
    2017/08/08
  %p.p6 なるほど
  %p.p5<
    ryosuke
  %h2.h1
    2017/08/08
  %p.p6 なるほど
  %p.p5<
    ryosuke
  %h2.h1
    2017/08/08
  %p.p6 アイス食べた
  %p.p5<
    ryosuke
  %h2.h1
    2017/08/08
  %p.p6 お腹すいた
