%header
  %p チャットグループが作成されました。
.contents
  //ひだりのバー
  .div
    .slidebar
      .slidebar__top
        .slidebar__top__content
        seoseoseoseosesseoseoseo
        = fa_icon("edit")
        = fa_icon("cog")
      .slidebar__middle__content
        %p.p1 サンプル
        %p.p2 よろしくおねがいします.
        %p.p1 サンプル
        %p.p2 よろしくおねがいします.
        %p.p1 サンプル
        %p.p2 よろしくおねがいします.
      .slidebar__bottom__content
  .main__contents
    .main__contents__top.clearfix
      .main__contents__top__edit
        %h1.s1 edit

    .main__contents__top-members
      %p.p3 Sampleグループ
      %p.p4 Members/Onodera Yuudai
    =render partial:  "messages"
    .main__contents__third

    .main__contents__bottom
      %form{:action => "/",:method => "post"}
        .div
          / %label{:for => "name"}
          %input{:type => "text",:placeholder => "Type a text"}
          = fa_icon("file-picture-o")
          %button{:type =>"submit"} SEND
