.slidebar{
background-color: $Lightblue;
width:300px;
box-sizing: border-box;
height:100vh;
float:left;
border: 0px,20px;
margin:0;
&__top{
  background-color: $Darkblue;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  height: 75.44px;
  width: 300px;
  height: 15%;
  &__content{
    height: 50px;
    width:100%;
    line-height: 50px;
    padding-left: 20px;
    // text-align: center;
    margin-bottom: -25px;
    top:0;
    bottom:0;
    h3.name{
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
    }
    ul.fa{
        margin-left: 10px;
        float: right;
        margin-right: 30px;
        margin-top: 20px;
    }
  }
}
&__middle__content{
  background-color: $Lightblue;
  padding: 0 20px;
  height: calc(100vh - 100px);
  p.p1{
    font-size:15px;
    margin-top:20px;
    margin-bottom:5px;
    color:$white;
  }
  p.p2{
    font-size:11px;
    margin-bottom:40px;
    color:$white;
  }
}
&__bottom__content{
  background-color: $Lightblue;
  margin-top: 0;
  height: 100vh;
}
}
