.main__contents{
  float:right;
  width:calc(100vw - 300px);
  padding-bottom:100px;
  &__header{
    background-color: $white;
    border: 1px solid $red;
    &__edit{
      float:right;
      color:$swich-color;
      border-style: solid;
      border-width: thin;
      border-color: $swich-color;
      height:20px;
      text-align: center;
      padding: 12.5px 20px;
      margin: 20px 20px 0;
      border: 1px solid;
      h1.s1{
        margin: auto;
        text-align: center;
        color: #38AEF0;
      }
    }
    &__top-group{
      margin: 0 40px;
      p.p3{
        margin-top:35px;
        font-size:20px;
        color:black;
        margin-bottom: 15px;
      }
    }
  }
  &__header__top-member{
    margin: 0 40px;
    color: gry;
    font-size: 10px;
    i.i4{
      font-size: 5px;
      color: gry;
    }
  }
  &__second{
    border: $red;
    background-color: #FAFAFA;
    height: calc(100vh - 100px - 90px);
    overflow-y: scroll;
    padding-left: 100px;
    margin-top: 20px;
    p.p5{
      display: inline-block;
      font-size: 16px;
      color: $black;
      margin-right: 10px;
    }
    h2.h1{
      display: inline-block;
      font-size: 12px;
      color: gry;
    }
    p.p6{
      font-size: 14px;
      padding-bottom: 40px;
      color: black;

    }
  }
  .main__contents__footer__form{
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    .form__message{
      border: none;
      box-sizing: border-box;
      float: left;
      height: 50px;
      padding: 0 10px;
      width: calc(100% - 150px);
    }
    .main__contents__footer-body-icon{
      background-color: #fff;
      float: left;
      height: 50px;
      padding-right: 10px;
      label.form__mask__image{
        font-size: 20px;
        line-height: 50px;
        i.fa{
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
    .form__submit{
      background-color: #38AEF0;
      border: none;
      color: #fff;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      }
  }
}
