.main__contents{
  float:right;
  width:calc(100vw - 300px);
  // margin:0px 40px;
  // background-color: #AAAAAA;
  padding-bottom:100px;
  &__header{
    background-color: $white;
    border: 1px solid #eee;
    // padding-left: 40px;
    &__edit{
      float:right;
      color:$swich-color;
      border-style: solid;
      border-width: thin;
      border-color: $swich-color;
      height:20px;
      text-align: center;
      padding: 12.5px 20px;
      margin: 20px 20px 0;
      border: 1px solid;
      h1.s1{
        margin: auto;
        text-align: center;
        color: black;
      }
    }
    &__top-group{
      margin: 0 40px;
      p.p3{
        margin-top:35px;
        font-size:20px;
        color:#333333;
        margin-bottom: 15px;
      }
    }
  }
  &__header__top-member{
    margin: 0 40px;
    color: #999;
    font-size: 10px;
    i.i4{
      font-size: 5px;
      color: #999;
    }
  }
  &__second{
    border: #eeeeee;
    background-color: $white;
    height: 915px;
    overflow-y: scroll;
    padding-left: 100px;
    margin-top: 20px;
    p.p5{
      display: inline-block;
      font-size: 16px;
      color: #434A54;
      margin-right: 10px;
    }
    h2.h1{
      display: inline-block;
      font-size: 12px;
      color: #999999;
    }
    p.p6{
      font-size: 14px;
      padding-bottom: 40px;

    }
  }
  &__third{
    // background-color: #AAAAAA;
    // height:100vh;
    // bottom: 40px;
    // border-top: 40px;
  }
  &__footer{
    // width:calc(100vw - 300px);
    width: 100%;
    margin-top:20px;
    position: fixed;
    bottom:0;
    height: 90px;
    background-color: #B8C3C7;
    &__form{
      margin: 20px 40px;
      position: relative;
      .main__contents__footer-body{
        position: relative;
        border:none;
        form{
          width:calc(100vw - 300px);
          bottom:20px;
      }
      input{
              height: 50px;
              font-size: 16px;
              // font-color:yellow;
              width: 900px;
              border: none;
              }
      }
      input.submit{
        background-color: $swich-color;
        margin-right:40px;
        margin-left:25px;
        // float:right;
        width:100px;
        height:50px;
        text-align: center;
        color: $white;
        position: relative;
        right: -930px;
        top:-50px;
        border:none;
        }
    }
  }
}
