.header alert alert-notice{
      // background-color: #38AEF0;
      .header__txt{
        // background-color: #38AEF0;
        text-align: center;
        color: white;
        margin: 0;
      }
}
