@import "./reset";
@import "font-awesome";

body{
  width:100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin:0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
 
  header{
    p {
      background-color:#38AEF0;
      text-align:center;
      color:white;
      margin:0;
    }
  }

  .contents{
    div{
      .slidebar{
      background-color: #2f3e51;
      width:300px;
      height:100vh;
      float:left;
      border: 0px,20px;
      margin:0;
      &__top__content{
        background-color: #253141;
        color:#FFFFFF;
        font-size: 16px;
        font-weight:bold;
        margin-bottom: 0;
        margin:0;
      }
      &__middle__content{
        margin-top:0;
        padding-top: 0;
        margin:0;
        background-color: #2f3e51;
        p.p1{
          font-size:15px;
          margin-top:20px;
          margin-bottom:5px;
          color:#FFFFFF;
        }
        p.p2{
          font-size:11px;
          margin-bottom:40px;
          color:#FFFFFF;
        }
      }
      &__bottom__content{
        background-color: #2f3e51;
        margin-top: 0;
        height: 100vh;
      }
     } 
    }
    .main__contents{
      float:right;
      width:calc(100vw - 300px);
      // margin:0px 40px;
      // background-color: #AAAAAA;
      padding-bottom:100px;
      &__top{
        background-color: white;
        &__edit{
          float:right;
          color:#38AEF0;
          border-style: solid;
          border-width: thin;
          border-color: #38AEF0;
          height:40px;
          text-align: center;
          margin-top: 28;
          padding-right:20px;
          padding-left: 20px;
          margin-right: 40px;

          h1.s1{
            margin: auto;
            text-align: center;
          }
        }
        p.p3{
          margin-top:35px;
          font-size:20px;
          color:#333333;
          margin-bottom: 15px;
        }
        p.p4{
          font-size: 12px;
          color:#999999;
        }
      }
      &__second{
        border: #eeeeee;
        background-color: #AAAAAA;
        height: 915px;
        overflow-y: scroll;
        p.p5{
          display: inline-block;
          font-size: 16px;
          color: #434A54;
          margin-right: 10px;
        }
        h2.h1{
          display: inline-block;
          font-size: 12px;
          color: #999999;
        }
        p.p6{
          font-size: 14px;
          padding-bottom: 40px;

        }
      }
      &__third{
        // background-color: #AAAAAA;
        // height:100vh;
        // bottom: 40px;
        // border-top: 40px;
      }
      &__bottom{
        width:calc(100vw - 300px);
        margin-top:20px;
        // margin-bottom: 20px;
        position: fixed;
        bottom:0;
        height: 90px;
        background: white;
          form{
            border-style:solid;
            width:calc(100vw - 300px);
            bottom:20px;
            div{
              input{
                height: 50px;
                font-size: 16px;
                font-color:yellow;
                width:1000px;
              }
              button{
                background-color: #38AEF0;
                margin-right:40px;
                margin-left:25px;
                float:right;
                height:50px;
                text-align: center;
                color: white;
              }
            }
          }
      }
    }
  }
}