@import "./reset";

header{
  p {
    background-color:#38AEF0;
    text-align:center;
    color:white;
  }
}

.contents{
  .slidebar{
    width:300px;
    height:40px;
    float:left;
    border: 0px,20px;
    &__top__content{
      background-color: #253141;
      color:#FFFFFF;
      font-size: 16px;
    }
    &__middle__content{
      background-color: #2f3e51;
      p.p1{
        font-size:15px;
        border-top:20px;
        border-bottom:5px;
        color:#FFFFFF;
      }
      p.p2{
        font-size:11px;
        border-bottom:40px;
        color:#FFFFFF;
      }
    }
    &__bottom__content{
      background-color: #2f3e51;
      height: 100vh;
    }
  }
  .main__contents{
    float:left;
    &__top{
      p.p3{
        padding-top:35px;
        font-size:20px;
        color:#333333;
      }
    }
    &__second{
    }
    &__third{
    }
    &__bottom{
    }
  }
}
