@import "./reset";
@import "font-awesome";


header{
  p {
    background-color:#38AEF0;
    text-align:center;
    color:white;
  }
}

.contents{
  .slidebar{
    width:300px;
    height:40px;
    float:left;
    border: 0px,20px;
    &__top__content{
      background-color: #253141;
      color:#FFFFFF;
      font-size: 16px;
      font-weight:bold;
    }
    &__middle__content{
      background-color: #2f3e51;
      p.p1{
        font-size:15px;
        margin-top:20px;
        margin-bottom:5px;
        color:#FFFFFF;
      }
      p.p2{
        font-size:11px;
        margin-bottom:40px;
        color:#FFFFFF;
      }
    }
    &__bottom__content{
      background-color: #2f3e51;
      height: 100vh;
    }
  }
  .main__contents{
    float:right;
    width:calc(100vw - 300px);
    margin:0px, 40px;
    background-color: #AAAAAA;
    &__top{
      &__edit{
        float:right;
        color:#38AEF0;
        border-style: solid;
        border-width: thin;
        border-color: #38AEF0;
        height:40px;
        text-align: center;
        margin-top: 28px;
        padding-right:20px;
        padding-left: 20px;
      }
      p.p3{
        margin-top:35px;
        font-size:20px;
        color:#333333;
        margin-bottom: 15px;
      }
      p.p4{
        font-size: 12px;
        color:#999999;
      }
    }
    &__second{
      border:#eeeeee;
      background-color: #AAAAAA;
      p.p5{
        display: inline-block;
        font-size: 16px;
        color: #434A54;
        margin-right: 10px;
      }
      h2.h1{
        display: inline-block;
        font-size: 12px;
        color: #999999;
      }
      p.p6{
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
    &__third{
      background-color: #AAAAAA;
    }
    &__bottom{
    }
  }
}
