.main__contents{

  .main__contents__header{

    .main__contents__header__edit{

      a.right-header__button{
        color: #38AEF0;
        text-decoration: none;
      }
    }
  }
  ul.left-header__members{
      display: flex;
      color: #999;
      font-size: 12px;
      margin-top: 15px;
      li.member{
        display: inline-block;
        padding-right: 5px;
      }
  }
}
