- flash.each do |key, value|
  = content_tag :div, class:"header alert alert-#{key}" do
    %p.header__txt
      = value

    -# グループ作成エラー時
    -# .chat-group-form__errors
    -#   %h2 1件のエラーが発生しました。
    -#   %ul
    -#     %li エラーです
