!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http-equiv: "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    //header部分
    %header
      %p チャットグループが作成されました。
    %contents
      //しだりのバー
      .slidebar
        .slidebar__top__content
          seo
        .slidebar__middle__content
          %p.p1 サンプル
          %p.p2 よろしくおねがいします.
        .slidebar__bottom__content
          bottom
      .main__contents
        .main__contents__top
          あ
        .main__contents__second
          あ
        .main__contents__third
          a
        .main__contents__bottom


